                                                      /*Police*/

@font-face {
    font-family: "Raleway";
    src: url('Raleway/static/Raleway-Regular.ttf') format('truetype');
}

@font-face {
    font-family: "Raleway-ExtraBold";
    src: url('Raleway/static/Raleway-ExtraBold.ttf') format('truetype');
}

@font-face {
    font-family: "Raleway-Bold";
    src: url('Raleway/static/Raleway-Bold.ttf') format('truetype');
}

*
{
    font-family: "Raleway";
}

nav, h1, h2
{
    font-family: "Raleway-Bold";
}



                                                    /*Header*/
.containerheader
{
margin-top: 8px;
margin-left: 100px;
flex-wrap: wrap;
}

.menu
{
    order: 2;
    flex-wrap: wrap;
    padding-right: 110px;
    padding-left: 110px;
}

.presentation
{
    order: 1;
    flex-wrap: wrap;
}



.logo
{
    float: none;
    margin-left: 0px;
    padding-bottom: 15px;
    padding-top: 40px;
}

h2
{
    font-size: 22px;
    margin-bottom: 7px;
}

p
{
    font-size: 16px;
    margin-bottom: 20px;
    margin-top: 7px;
}

                                                    /*Formulaire*/

form
{
    margin-left: 18px;
}

.formulaire1
{
    font-size: 18px;
    margin-left: 34px;
    font-family: "Raleway-Bold";
    border: none;
}

.formulaire2
{
    font-size: 15px;
    font-family: "Raleway";
}

::placeholder
{
    color: black;
}

.fa.fa-map-marker
{
    font-size: 18px;
}

input[type="button" i].formulaire2
{
    color: white;
    background-color: #0065fc;
    border-radius: 0px 13px 13px 0px;
    height: 48px;
    width: 130px;
    font-family: "Raleway";
    font-weight: bold;
    border: none;
    letter-spacing: 0.05em;
    margin-left: 5px;
}

                                                     /*Menu*/
nav ul
{
list-style-type: none;
display: flex;
}

li
{
   font-size: 40px;
}

nav
{
    float: right;
}

.menu
{
    margin-left: 250px;
    margin-top: 2px;
}

.inscrire
{
    color: #0065fc;
    font-family: "Raleway-Bold";
}

a
{
    color: rgb(92, 91, 91);
    text-decoration: none;
    font-size: 16px;
    padding-top: 40px;
    padding-left: 30px;
    padding-right: 30px;
    font-weight: bold;
    margin-left: 10px;
}

a:hover:not(.inscrire)
{
    color: #0065fc;
    border-top: 2px solid #0065fc;
}

                                                        /*Filtres*/
.filtres
{
    margin-top: 35px;
    font-size: 16px;
    margin-left: -10px;
}

.filtre
{
    font-family: "Raleway-ExtraBold";
    padding-right: 38px;
}

.fa-money-bill-wave
{
    color: #0065fc;
    font-size: 17px;
    background-color: rgba(222,235,255,1);
    border-radius: 100%;
    padding-top: 14px;
    padding-right: 12px;
    padding-left: 12px;
    padding-bottom: 14px;
}

input[type="button" i].economique
{
    color: black;
    background-color: rgba(255,255,255,0);
    font-family: "Raleway-ExtraBold";
    font-size: 16px;
    border: rgba(92,91,91,0.23) solid 2px;
    border-radius: 1px 30px 30px 2px;
    padding: 11px;
    padding-bottom: 10px;
    padding-left: 25px;
    padding-right: 16px;
    border-left: none;
    margin-left: -15px;
}

input[type="button" i].familial
{
    color: black;
    background-color: rgba(255,255,255,0);
    font-family: "Raleway-ExtraBold";
    font-size: 16px;
    border: rgba(92,91,91,0.23) solid 2px;
    border-radius: 1px 30px 30px 2px;
    padding: 11px;
    padding-bottom: 10px;
    padding-left: 25px;
    padding-right: 16px;
    border-left: none;
    margin-left: -15px;
}

.fas.fa-child
{
    color: #0065fc;
    font-size: 17px;
    background-color: rgba(222,235,255,1);
    border-radius: 100%;
    padding-top: 12px;
    padding-right: 14px;
    padding-left: 14px;
    padding-bottom: 12px;
    margin-left: 20px;
}

input[type="button" i].familial
{
    color: black;
    background-color: rgba(255,255,255,0);
    font-family: "Raleway-ExtraBold";
    font-size: 16px;
    border: rgba(92,91,91,0.23) solid 2px;
    border-radius: 3px 30px 30px 3px;
    padding: 11px;
    padding-bottom: 10px;
    padding-left: 25px;
    padding-right: 16px;
    border-left: none;
    margin-left: -15px;
}

.fas.fa-child
{
    color: #0065fc;
    font-size: 17px;
    background-color: rgba(222,235,255,1);
    border-radius: 100%;
    padding-top: 12px;
    padding-right: 14px;
    padding-left: 14px;
    padding-bottom: 12px;
    margin-left: 20px;
}

input[type="button" i].romantique
{
    color: black;
    background-color: rgba(255,255,255,0);
    font-family: "Raleway-ExtraBold";
    font-size: 16px;
    border: rgba(92,91,91,0.23) solid 2px;
    border-radius: 3px 30px 30px 3px;
    padding: 11px;
    padding-bottom: 10px;
    padding-left: 25px;
    padding-right: 16px;
    border-left: none;
    margin-left: -15px;
}

.fas.fa-heart
{
    color: #0065fc;
    font-size: 17px;
    background-color: rgba(222,235,255,1);
    border-radius: 100%;
    padding-top: 12px;
    padding-right: 14px;
    padding-left: 14px;
    padding-bottom: 12px;
    margin-left: 20px;
}

input[type="button" i].animaux
{
    color: black;
    background-color: rgba(255,255,255,0);
    font-family: "Raleway-ExtraBold";
    font-size: 16px;
    border: rgba(92,91,91,0.23) solid 2px;
    border-radius: 3px 30px 30px 3px;
    padding: 11px;
    padding-bottom: 10px;
    padding-left: 25px;
    padding-right: 16px;
    border-left: none;
    margin-left: -15px;
}

.fas.fa-dog
{
    color: #0065fc;
    font-size: 17px;
    background-color: rgba(222,235,255,1);
    border-radius: 100%;
    padding-top: 12px;
    padding-right: 14px;
    padding-left: 14px;
    padding-bottom: 12px;
    margin-left: 20px;
}