                                                                     /*Police*/

@font-face {
    font-family: "Raleway";
    src: url('Raleway/static/Raleway-Regular.ttf') format('truetype');
}

@font-face {
    font-family: "Raleway-ExtraBold";
    src: url('Raleway/static/Raleway-ExtraBold.ttf') format('truetype');
}

@font-face {
    font-family: "Raleway-Bold";
    src: url('Raleway/static/Raleway-Bold.ttf') format('truetype');
}

body
{
    margin: 0px;
    padding: 0px;
}

*
{
    font-family: "Raleway";
}

nav
{
    font-family: "Raleway-Bold";
}

h2, h1
{
    font-family: "Raleway-ExtraBold";
    font-weight: 100;
    font-size: 21px;
    margin-bottom: 7px;
}

p
{
    font-size: 0.98em;
    margin-bottom: 20px;
    margin-top: 7px;
}


                                                                    /*Header*/
header
{
    width: 100%;
    display: flex;
    align-items: center;
}

.logo img
{
    width: 90px;
    height: 45px;
}

.logo
{
    margin-left: 20px;
    padding: 25px 30px 25px 30px;
    flex: 1;
}
                                                                    /*Menu*/
.menu
{
    flex-wrap: wrap;
    padding-left: 0px;
    margin-left: 0px;
    margin-top: 2px;
}

nav ul
{
    list-style-type: none;
    display: flex;
}

.menu li
{
    position: relative;
    padding: 40px 30px 40px 30px;
    list-style-type: none;
    font-size: 40px;
}


.inscrire a
{
    color: #0065fc;
    font-family: "Raleway-Bold";
    text-decoration: none;
    padding: 22px 11px 0px 66px;
    margin-right: 20px;
    display: block;
}

nav a
{
    color: rgb(92, 91, 91);
    text-decoration: none;
    font-size: 16px;
    padding-top: 40px;
    padding-left: 30px;
    padding-right: 30px;
    font-weight: bold;
    margin-left: 10px;
}

nav a:hover
{
    color: #0065FC;
    border-top: #0065FC 2px solid;
}
                                                                    /*Présentation*/
.presentation
{
    width: 100%;
    padding-left: 50px;
}    

                                                                    /*Formulaire*/
form
{
    display: flex;
    flex-wrap: nowrap;
    padding-left: 50px;
}

.fa.fa-map-marker
{
    background-color: #f2f2f2;
    height: 105%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px 0px 0px 20px;
}

.form0
{
    width: 53px;
}

.formulaire1
{
    font-size: 16px;
    font-family: "Raleway-ExtraBold";
    border: none;
    padding-left: 20px;
}

::placeholder
{
    font-size: 17px;
    color: black;
}

.formulaire2
{
    color: white;
    background-color: #0065fc;
    border-radius: 0px 13px 13px 0px;
    height: 48px;
    width: 130px;
    font-family: "Raleway";
    font-weight: bold;
    border: none;
    letter-spacing: 0.05em;
    font-size: 15px;
}

.formulaire2:hover
{
    box-shadow: silver 4px 4px;
}

.icon-search
{
    display: none;
    color: white;
    background-color: #0065fc;
    border-radius: 0px 13px 13px 0px;
    width: 5%;
    border: none;
    font-size: 15px;
}

.icon-search:hover
{
    box-shadow: silver 4px 4px;
}
                                                                        /*Filtres*/
.filtres
{
    margin-top: 35px;
    margin-bottom: 30px;
    font-size: 17px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-evenly;
    width: 65%;
    padding-left: 50px;
}

.filtres a
{
    text-decoration: none;
}

.filtre
{
    font-family: "Raleway-ExtraBold";

}

.animaux
{
    order: 5;
}
.romantique
{
    order: 4;
}
.familial
{
    order: 3;
}
.economique
{
    order: 2;
}
.filtre
{
    order: 1;
}

.animaux, .romantique, .familial, .economique
{
    display: flex;
    align-items: center;
    color: black;
    background-color: rgba(255,255,255,0);
    font-family: "Raleway-ExtraBold";
    font-size: 16px;
    border: rgba(92,91,91,0.23) solid 2px;
    border-radius: 30px;
    border-left: none;
    padding: 0px 20px 0px 0px;
}

.economique:hover
{
    color: #0065FC;
    border: #F2F2F2 solid 2px;
    border-left: none;
    box-shadow: #c7c4c4 2px 4px;
}

.romantique:hover
{
    color: #0065FC;
    border: #F2F2F2 solid 2px;
    border-left: none;
    box-shadow: #c7c4c4 2px 4px;
}

.familial:hover
{
    color: #0065FC;
    border: #F2F2F2 solid 2px;
    border-left: none;
    box-shadow: #c7c4c4 2px 4px;
}

.animaux:hover
{
    color: #0065FC;
    border: #F2F2F2 solid 2px;
    border-left: none;
    box-shadow: #c7c4c4 2px 4px;
}

.eco, .famil, .roman, .anim
{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-bottom: 8px;
}

.fa-money-bill-wave, .fas.fa-child, .fas.fa-heart, .fas.fa-dog
{
    width: 42px;
    height: 42px;
    border-radius: 30px;
    background-color: #deebff;
    color: #0065ff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}


                                                                            /*Bulle info*/

.fas.fa-info
{
    color: #0065fc;
    font-size: 10px;
    width: 20px;
    height: 20px;
    border: silver 1px solid;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.info
{
    display: flex;
    padding-left: 50px;
}

                                                                            /*Section 1*/

h4
{
    font-family: "Raleway-ExtraBold";
    font-weight: 300;
    padding-left: 10px;
    font-size: 15px;
}

.section1
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 60px;
    margin-bottom: -40px;
    max-width: 1237px;
    margin: auto;
}

.section1 .heb1
{
    flex-basis: 73%;
}

.section1 .heb1 .container3 .image-heb
{
    height: 149px;
    overflow: hidden;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.section1 .heb1 .container3 .image-heb .img
{
    position: relative;
    top: -47px;
    width: 100%
}

.section1 h2
{
    flex-basis: 100%;
    margin-bottom: 20px;
    position: relative;
}

.container2
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 85px;
}

.container3
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-evenly;
}

.gras
{
    font-family: "Raleway-Bold";
}

.bloc1
{
    border: rgba(220,220,220,0.8) solid 1px;
    box-shadow: 1px 3px 5px 0px #c7c4c4;
    padding-left: 5px;
    line-height: 1px;
    border-radius: 20px 20px 20px 20px;
    padding-top: 3px;
    margin-bottom: 30px;
    padding-right: 5px;
    flex-wrap: wrap;
    max-width: 250px;
}



.bloc1 img
{
    border-radius: 15px 15px 0px 0px;
}

.bloc1 p
{
    padding-left: 10px;
    font-size: 13px;
    margin-bottom: 15px;
}

.stars
{
    color: #0065FC;
    font-size: 12px;
    margin-left: 10px;
    margin-bottom: 8px;
}

.bloc1 a
{
    text-decoration: none;
    color: black;
    display: block;
}

.bloc1 a:hover
{
    text-decoration: none;
    color: black;
}

.plus a
{
    color: black;
    border: none;
    text-decoration: none;
    font-size: 17px;
    font-family: "Raleway-ExtraBold";
    font-weight: 400;
}

.plus
{
    margin-top: -10px;
    margin-left: 8px;
    padding-top: 25px;
}

                                                                            /*Aside Section 1*/
 .container4
{
    flex-basis: 27%;
}

.fas.fa-chart-line
{
    position: absolute;
    right: 31px;
    font-size: 22px;
}

.container4 .bloc2 .image-pop
{
    float: left;
    width: 135px;
    overflow: hidden;
    height: 140px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.container4 .bloc2 .descr-pop
{
    float: left;
    width: calc( 100% - 135px);
}

.container4 .bloc2 .img1
{
    height: 100%;
}

.bloc2
{
    border: rgba(220,220,220,0.8) solid 1px;
    box-shadow: 1px 3px 5px 0px #c7c4c4;
    min-width: 250px;
    height: 140px;
    padding-left: 5px;
    border-radius: 20px 20px 20px 20px;
    padding-top: 4px;
    margin-bottom: 30px;
    max-width: 382px;
}

.bloc2 h4
{
    line-height: 18px;
    margin-bottom: 0px;
    margin-top: 10px;
    padding-right: 10px;
}

.bloc2 p
{
    padding-left: 10px;
    font-size: 13px;
}

.bloc2 a
{
    text-decoration: none;
    color: black;
    display: block;
    height: 100%;
}

.bloc2 a:hover
{
    text-decoration: none;
    color: black;
}

                                                                            /*Section 2*/
.section2
{
    flex-wrap: wrap;
}

.section2 h2
{
    width: 500px;
    margin-bottom: 20px;
    flex-basis: 100%;
    position: relative;
}

.container5
{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: space-evenly;
}
.container5 a
{
    display: block;
}

.bloc3 img
{
    border-radius: 20px 20px 0px 0px;
    padding-left: 1px;
    width: 100%;
    max-height: 201px;
    position: relative;
}

.bloc3
{
    border-radius: 20px 20px 20px 20px;
    padding-top: 3px;
    margin-bottom: 30px;
    padding-right: 5px;
    flex-wrap: wrap;
    max-width: 300px;
}

.bloc3 a, .bloc31 a, .bloc30 a
{
    text-decoration: none;
    color: black;
}

.bloc3 a:hover, .block31 a:hover, .block32 a:hover
{
    text-decoration: none;
    color: black;
}

.bloc3 h4
{
    font-family: "Raleway-ExtraBold";
    margin-left: 10px;
    margin-top: 15px;
    padding-bottom: 15px;
}

.bloc31 img
{
    border-radius: 20px 20px 0px 0px;
    padding-left: 1px;
    padding-left: 1px;
    position: relative;
    width: 100%;
    min-height: 480px;
}

.bloc31
{
    border-radius: 20px 20px 20px 20px;
    padding-top: 3px;
    margin-bottom: 30px;
    padding-right: 5px;
    flex-wrap: wrap;
    max-width: 300px;
}

.bloc31 h4
{
    font-family: "Raleway-ExtraBold";
    padding-left: 20px;
    padding-bottom: 15px;
    margin-top: 15px;
    border: rgba(220,220,220,0.9) solid 1px;
    border-top: none;
    border-radius: 0px 0px 30px 30px;

}

.bloc30 img
{
    border-radius: 20px 20px 0px 0px;
    padding-left: 1px;
    position: relative;
    width: 100%;
    min-height: 480px;
}

.bloc30
{
    border-radius: 20px 20px 20px 20px;
    padding-top: 3px;
    margin-bottom: 30px;
    padding-right: 5px;
    flex-wrap: wrap;
    max-width: 300px;
}

.bloc30 h4
{
    font-family: "Raleway-ExtraBold";
    margin-left: 10px;
}

.bloctitre
{
    border-bottom: rgba(220,220,220,0.8) solid 1px;
    border-radius: 30px 30px 30px 30px;
    height: 22px;
    padding-right: 10px;
}


                                                                            /*Footer*/
footer
{
    margin-bottom: 60px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-evenly;
    justify-content: space-evenly;
}

.propos
{
    display: flex;
    flex-direction: column;
}

.propos a, .hebergements2 a, .assistance a
{
    text-decoration: none;
    color: black;
}

.propos li, .hebergements2 li, .assistance li
{
    font-size: 15px;
    font-weight: 600;
    list-style-type: none;
}

h5
{
    font-family: "Raleway-ExtraBold";
    font-size: 17px;
}

.hebergements2
{
    font-size: 15px;
    font-weight: 600;
}

.assistance
{
    font-size: 15px;
    font-weight: 600;
}


/*Tablette*/
@media all and (min-width: 998px) and (max-width: 1072px)
{
    .section1 .heb1 
    {
        flex-basis: 70%;
    }

    .bloc1
    {
        max-width: 300px;
    }

    .bloc2 
    {
        max-width: 274px;
    }
}

/*Smartphones*/
@media all and (min-width: 0px) and (max-width: 480px)
{
    body
    {
        display: flex;
        flex-direction: column;
        margin-left: 0px;
        margin-right: 0px;
        padding-left: 0px;
        padding-right: 0px;
        padding-right: 0px;
    }

    *
    {
        max-width: 325px;
    }
/*Header*/
    .li1, .li2
    {
        font-size: 40px;
        padding-left: 30px;
        padding-right: 30px;
        margin-left: -120px;
        padding-bottom: 12px;
        margin-right: 80px;
    }

    li
    {
        margin-right: 80px;
        margin-top: 0px;
    }

    li:hover
    {
        color: #0065FC;
    }

    li a:hover
    {
        border-top: none;
        border-bottom: #0065FC 3px solid;
    }

    .poursmartphone2 a
    {
        font-size: 15px;
    }

    .containerheader
    {
        display: flex;
        flex-wrap: wrap;
    }

    .poursmartphone
    {
        display: flex;
        flex-wrap: wrap;
        height: 150px;
        width: 400px;
        align-items: flex-start;
    }

    .poursmartphone2
    {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column-reverse;
        padding-left: 70px;
        margin-top: -150px;
        margin-left: 0px;
    }

    .inscrire
    {
        margin-left: 155px;
        margin-top: 120px;
        margin-bottom: 0px;
    }

    .logo
    {
        margin-top: 0px;
    }

    .logo img
    {
        width: 100px;
        height: 50px;
    }

/*Présentation*/
    .presentation h2
    {
        font-size: 20px;
        width: 300px;
        margin-top: 15px;
    }

    .presentation p
    {
        margin-top: 10px;
        font-size: 15px;
        margin-bottom: 30px;
    }

/*Champ de recherche*/

    .fa-map-marker:before
    {
        font-size: 17px;
        margin-left: 0px;
    }
    
    .formulaire1
    {
        font-size: 16px;
        padding-left: 30px;
        margin-left: 5px;
        margin-right: 0px;
        padding-right: 0px;
    }

    ::placeholder
    {
        font-size: 16px;
    }

    .formulaire2
    {
    display: none;
    color: white;
    background-color: #0065fc;
    border-radius: 10px 10px 10px 10px;
    height: 45px;
    width: 45px;
    border: none;
    font-size: 15px;
    }

    .fas.fa-search
    {
        opacity: 1;
    }

/*Filtres*/

    .filtres p
    {
        font-size: 16px;
        width: 350px;
        margin-bottom: 17px;
        margin-top: 0px;
        margin-left: 0px;
        padding-left: 0px;
    }

    .filtres
    {
        display: flex;
        flex-wrap: wrap;
        width: 350px;
    }

    .eco, .famil, .roman, .anim
    {
        margin-right: 20px;
        margin-bottom: 17px;
        margin-left: -10px;
        margin-top: 0px;
        align-items: center;
    }

    .fas.fa-money-bill-wave
    {
        font-size: 15px;
        padding-left: 13px;
        padding-right: 13px;
        padding-top: 14px;
        padding-bottom: 16px;
        margin-right: 25px;
    }
    .economique, .familial, .romantique, .animaux
    {
        font-size: 15px;
        padding-bottom: 12px;
        padding-top: 12px;
        padding-right: 15px;
        border-left: none;
        border-bottom: silver 1px solid;
        border-top: silver 1px solid;
        border-right: silver 1px solid;
        border-radius: 0px 90px 90px 0px;
        padding-left: 20px;
        margin-left: -35px;
    }

    .fas.fa-child
    {
        font-size: 18px;
        padding-left: 14px;
        padding-right: 14px;
        padding-top: 13px;
        padding-bottom: 13px;
        margin-right: 25px;
    }

    .fas.fa-heart
    {
        font-size: 17px;
        padding-left: 12px;
        padding-right: 12px;
        padding-top: 12px;
        padding-bottom: 12px;
        margin-right: 25px;
    }

    .fas.fa-dog
    {
        font-size: 18px;
        padding-left: 12px;
        padding-right: 12px;
        padding-top: 12px;
        padding-bottom: 12px;
        margin-right: 15px;
    }
/*Bulle info*/
    .info
    {
        font-size: 15px;
        margin-top: 18px;
        margin-bottom: 40px;
        width: 350px;
        margin-left: 7px;
    }
    .fas.fa-info
    {
        font-size: 10px;
        border: solid silver 1.5px;
        padding-left: 8px;
        padding-right: 8px;
        padding-top: 4px;
        padding-bottom: 4px;
        float: left;
        margin-top: 0px;
        margin-right: 9px;
    }
/*Aside*/
    .container4
    {
        order: 1;
    }
    #hebergements
    {
        order: 2;
        font-size: 20px;
        width: 310px;
        margin-top: 40px;
        margin-bottom: 15px;
        margin-left: 20px;
    }
    .container2
    {
        order: 3;
    }

    .container4 h2
    {
        font-size: 20px;
        width: 310px;
        margin-bottom: 20px;
        margin-left: 15px;
    }
    .fas.fa-chart-line
    {
        float: right;
        font-size: 25px;
        margin: 0px;
        margin-top: 0px;
    }

    .bloc2
    {
        width: 300px;
        height: 130px;
        flex-wrap: nowrap;
        border-radius: 18px;
        box-shadow: 1px 3px 5px 1px #c7c4c47e;
        margin-left: 15px;
        margin-bottom: 10px;
    }
    .bloc2 img
    {
        width: 120px;
        padding: 0px;
        border-radius: 15px 0 0 15px;
        margin-right: 12px;
    }
    .bloc2 h4
    {
        font-size: 15px;
        line-height: 18px;
        margin-right: 15px;
        margin-bottom: 0px;
    }
    .stars
    {
        font-size: 10px;
        margin: 0px;
        padding: 0px;
    }
    .bloc2 p
    {
        font-size: 13px;
        line-height: 20px;
        margin-top: 7px;
        margin-bottom: 33px;
    }
header, .section1, .section2, .containerheader, .container2, .container3, .container5
{
    margin-left: 10px;
}
/*Hébergements*/
    .section1
    {
        display: flex;
        flex-direction: column;
        max-width: 350px;
        min-width: 100px;
    }


    .container2
    {
        flex-direction: column;
    }
    .bloc1
    {
        width: 425px;
        height: 205px;
        border: none;
        box-shadow: none;
        margin-bottom: 0;
    } 

    .bloc1 img
    {
        border-radius: 15px 15px 0px 0px;
    }
    .bloc1 h4
    {
        font-size: 15px;
        margin-right: 15px;
        margin-top: 15px;
    }
    .bloc1 p
    {
        font-size: 13px;
        margin-top: 0;
    }
    .bloc1 .stars
    {
        margin-top: 0px;
        margin-left: 10px;
        margin-right: 0px;  
    }    
 
    .img66, .img55, .img44, .img33, .img22, .img11
    {
        width: 300px;
        height: 110px;
    }
    .img6, .img5, .img4, .img3, .img2, .img1
    {
        width: 0px;
        height: 0px;
    }
    .plus a
    {
        font-size: 17px;
    }
/*Activités*/
    .section2 h2
    {
        font-size: 20px;
        width: 310px;
        margin-bottom: 18px;
        margin-left: 20px;
    }
    .section2
    {
        max-width: 325px;
        min-width: 100px;
    }
    .container5
    {
        flex-direction: column;
    }
    .bloc3
    {
        border: none;
        box-shadow: none;
        width: 322px;
        height: 400px;
    } 
    .bloc30
    {
        width: 320px;
        height: 400px;
        border: none;
        box-shadow: none;
    } 
    .bloc31
    {
        width: 320px;
        height: 400px;
        border: none;
        box-shadow: none;
        margin-bottom: -175px;
    } 
    .bloc3 h4, .bloc30 h4, .bloc31 h4
    {
        font-size: 15px;
        margin-left: 15px;
        margin-top: 10px;
    }
    .bloc3 img
    {
        border-radius: 15px 15px 0px 0px;
    }
    .img7, .img8, .img10, .img13
    {
        width: 0px;
        height: 0px;
    }
    .img101, .img12, .img9, .img88, .img77, .img103
    {
        width: 320px;
        height: 130px;
        border-radius: 15px 15px 0px 0px;
    }
    .bloc31 img
    {
        border-radius: 15px 15px 0px 0px;
    }
    .bloctitre
    {
        border: none;
    }
    .bloc31 h4
    {
        border: none;
    }
/*Footer*/
    footer
    {
        display: block;
        flex-direction: column;
        margin: 20px;
        padding: 0;
        align-content: center;
    }
    .hebergements2
    {
        margin: 50px;
        margin-left: 20px;
    }
    .assistance
    {
        margin: 50px;
        margin-left: 20px;
    }
    .propos
    {
        margin: 50px;
        margin-left: 20px;
    }
}