                                                      /*Police*/

@font-face {
    font-family: "Raleway";
    src: url('Raleway/static/Raleway-Regular.ttf') format('truetype');
}

@font-face {
    font-family: "Raleway-Bold";
    src: url('Raleway/static/Raleway-Bold.ttf') format('truetype');
}

*
{
    font-family: "Raleway";
}

nav, h1, h2, h3, h4, h5, h6
{
    font-family: "Raleway-Bold";
}
                                                    /*Header*/
#containerheader
{
display: flex;
margin: 70px;
}

.menu
{
    order: 2;
}

.presentation
{
    order: 1;
}



                                                     /*Menu*/
nav ul
{
list-style-type: none;
display: flex;
}

li
{
   padding-left: 15%;
   padding-right: 15%;
}

nav
{
    position: absolute;
    margin-left: 20%;
    font-weight: bold;
}

@media all and (min-width: 992px) and (max-width: 1600px)