                                                      /*Police*/

@font-face {
    font-family: "Raleway";
    src: url('Raleway/static/Raleway-Regular.ttf') format('truetype');
}

@font-face {
    font-family: "Raleway-ExtraBold";
    src: url('Raleway/static/Raleway-ExtraBold.ttf') format('truetype');
}

@font-face {
    font-family: "Raleway-Bold";
    src: url('Raleway/static/Raleway-Bold.ttf') format('truetype');
}

*
{
    font-family: "Raleway";
}

nav, h1, h2, h3, h4, h5, h6
{
    font-family: "Raleway-Bold";
}


                                                    /*Header*/
.containerheader
{
display: flex;
margin-top: 8px;
margin-left: 100px;
}

.menu
{
    order: 2;
}

.presentation
{
    order: 1;
}

.logo
{
    float: none;
    margin-left: 0px;
    padding-bottom: 15px;
    padding-top: 40px;
}

h2
{
    font-size: 22px;
    height: 15px;
}

p
{
    font-size: 16px;
    margin-bottom: 20px;
}

                                                    /*Formulaire*/

form
{
    margin-left: 18px;
}

.formulaire1
{
    font-size: 18px;
    margin-left: 34px;
    font-family: "Raleway-Bold";
    border: none;
}

.formulaire2
{
    font-size: 16px;
    font-family: "Raleway";
}

i
{
    font-size: 18px;
}

input[type="button" i]
{
    color: white;
    background-color: #0065fc;
    border-radius: 0px 13px 13px 0px;
    height: 48px;
    width: 130px;
    font-family: "Raleway";
    font-weight: bold;
    border: none;
    letter-spacing: 0.05em;
    margin-left: 5px;
}

                                                     /*Menu*/
nav ul
{
list-style-type: none;
display: flex;
}

li
{
   font-size: 40px;
}

nav
{
    float: right;
    position: absolute;
}

.menu
{
    margin-left: 250px;
    margin-top: 2px;
}

.inscrire
{
    color: #0065fc;
    font-family: "Raleway-Bold";
}

a
{
    color: rgb(92, 91, 91);
    text-decoration: none;
    font-size: 16px;
    padding-top: 40px;
    padding-left: 30px;
    padding-right: 30px;
    font-weight: bold;
    margin-left: 10px;
}

a:hover:not(.inscrire)
{
    color: #0065fc;
    border-top: 2px solid #0065fc;
}

